html, body {
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../images/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;

}